# Virtual environments
venv/

# Node modules
node_modules/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# Model weights and checkpoints
*.pt
*.pth

# Data directories and model folders
data/
research/kaggle_models/
research/models/

# Logs
research/results/*.csv
research/results/*.png

# Build directories
app/client/dist
app/server/dist

# OS files
.DS_Store
Thumbs.db