@import "tailwindcss";

.slider-thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: 2px solid #2563eb;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 5px #2563eb, 0 0 10px #2563eb;
}

.slider-thumb::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: 2px solid #2563eb;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 5px #2563eb, 0 0 10px #2563eb;
}
